In [90]:
# imports a csv file as a dataframe and shows the head records of file mpg.csv
# mpg.csv is a car database
# mpg: miles per gallon, displ: engine displacement in liters
# cty: city mpg, cyl: num of cilynders, hwy: highway mpg
# drv:  = front-wheel drive, r = rear wheel drive, 4 = 4wd
# fl: fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c= CNG)
import pandas as pd
import numpy as np
cars = pd.read_csv("mpg.csv", index_col=0)
cars.head()

   manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
id
1          audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2          audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3          audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4          audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5          audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [36]:
# return the columns in the dataframe
cars.columns

Index(['manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty',
       'hwy', 'fl', 'class'],
      dtype='object')

In [51]:
# return the index of the dataframe
print (cars.index)
print ("Number of rows in dataframe:", len(cars.index))

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            225, 226, 227, 228, 229, 230, 231, 232, 233, 234],
           dtype='int64', name='id', length=234)
Number of rows in dataframe: 234

In [42]:
#  return a Series object with number of non-NA/null observations over requested axis. 
# Works with non-floating point data as well (detects NaN and None)
cars.count()

manufacturer    234
model           234
displ           234
year            234
cyl             234
trans           234
drv             234
cty             234
hwy             234
fl              234
class           234
dtype: int64

In [91]:
# set a new index
# the index doesn't have to be unique
# this is is just a view! The dataset does not change!
cars.set_index('manufacturer')

,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
manufacturer,,,,,,,,,,
audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact
audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact
audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact
audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact
audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact
audi,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact
audi,a4 quattro,3.1,2008,6,auto(s6),4,17,25,p,compact
audi,a4 quattro,3.1,2008,6,manual(m6),4,15,25,p,compact
audi,a6 quattro,2.8,1999,6,auto(l5),4,15,24,p,midsize
audi,a6 quattro,3.1,2008,6,auto(s6),4,17,25,p,midsize
audi,a6 quattro,4.2,2008,8,auto(s6),4,16,23,p,midsize
chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,11,15,e,suv
chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
chevrolet,c1500 suburban 2wd,5.7,1999,8,auto(l4),r,13,17,r,suv
chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv
chevrolet,corvette,5.7,1999,8,manual(m6),r,16,26,p,2seater
chevrolet,corvette,5.7,1999,8,auto(l4),r,15,23,p,2seater
chevrolet,corvette,6.2,2008,8,manual(m6),r,16,26,p,2seater
chevrolet,corvette,6.2,2008,8,auto(s6),r,15,25,p,2seater
chevrolet,corvette,7.0,2008,8,manual(m6),r,15,24,p,2seater
chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,14,19,r,suv
chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,11,14,e,suv
...,...,...,...,...,...,...,...,...,...,...
toyota,toyota tacoma 4wd,3.4,1999,6,auto(l4),4,15,19,r,pickup
toyota,toyota tacoma 4wd,4.0,2008,6,manual(m6),4,15,18,r,pickup
toyota,toyota tacoma 4wd,4.0,2008,6,auto(l5),4,16,20,r,pickup
volkswagen,gti,2.0,1999,4,manual(m5),f,21,29,r,compact
volkswagen,gti,2.0,1999,4,auto(l4),f,19,26,r,compact
volkswagen,gti,2.0,2008,4,manual(m6),f,21,29,p,compact
volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact
volkswagen,gti,2.8,1999,6,manual(m5),f,17,24,r,compact
volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact
volkswagen,jetta,2.0,1999,4,manual(m5),f,21,29,r,compact
volkswagen,jetta,2.0,1999,4,auto(l4),f,19,26,r,compact
volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact
volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact
volkswagen,jetta,2.5,2008,5,auto(s6),f,21,29,r,compact
volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact
volkswagen,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact
volkswagen,jetta,2.8,1999,6,manual(m5),f,17,24,r,compact
volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact
volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact
volkswagen,new beetle,2.0,1999,4,manual(m5),f,21,29,r,subcompact
volkswagen,new beetle,2.0,1999,4,auto(l4),f,19,26,r,subcompact
volkswagen,new beetle,2.5,2008,5,manual(m5),f,20,28,r,subcompact
volkswagen,new beetle,2.5,2008,5,auto(s6),f,20,29,r,subcompact
volkswagen,passat,1.8,1999,4,manual(m5),f,21,29,p,midsize
volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize
volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [92]:
# the dataset has not change!
cars.head()

   manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
id
1          audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2          audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3          audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4          audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5          audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

## Querying a dataframe

In [79]:
# return the column manufacturer as a Series object
cars["manufacturer"]

id
1            audi
2            audi
3            audi
4            audi
5            audi
6            audi
7            audi
8            audi
9            audi
10           audi
11           audi
12           audi
13           audi
14           audi
15           audi
16           audi
17           audi
18           audi
19      chevrolet
20      chevrolet
21      chevrolet
22      chevrolet
23      chevrolet
24      chevrolet
25      chevrolet
26      chevrolet
27      chevrolet
28      chevrolet
29      chevrolet
30      chevrolet
          ...
205        toyota
206        toyota
207        toyota
208    volkswagen
209    volkswagen
210    volkswagen
211    volkswagen
212    volkswagen
213    volkswagen
214    volkswagen
215    volkswagen
216    volkswagen
217    volkswagen
218    volkswagen
219    volkswagen
220    volkswagen
221    volkswagen
222    volkswagen
223    volkswagen
224    volkswagen
225    volkswagen
226    volkswagen
227    volkswagen
228    volkswagen
229    volkswagen
230    volkswagen
231    volkswagen
232    volkswagen
233    volkswagen
234    volkswagen
Name: manufacturer, Length: 234, dtype: object

In [80]:
# returns a numy array of unique elements in "manufacturer" column
cars["manufacturer"].unique()

array(['audi', 'chevrolet', 'dodge', 'ford', 'honda', 'hyundai', 'jeep',
       'land rover', 'lincoln', 'mercury', 'nissan', 'pontiac', 'subaru',
       'toyota', 'volkswagen'], dtype=object)

In [81]:
# returns a Series object containing the third axis (row) of data in the dataframe Cars
print (cars.iloc[3])
print (type(cars.iloc[3]))

manufacturer        audi
model                 a4
displ                  2
year                2008
cyl                    4
trans           auto(av)
drv                    f
cty                   21
hwy                   30
fl                     p
class            compact
Name: 4, dtype: object
<class 'pandas.core.series.Series'>

In [82]:
# returns a view of the Dataframe filtered
cars[cars['manufacturer']=='audi']

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
id,,,,,,,,,,,
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
6,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
8,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact
10,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
11,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact
12,audi,a4 quattro,2.8,1999,6,auto(l5),4,15,25,p,compact
13,audi,a4 quattro,2.8,1999,6,manual(m5),4,17,25,p,compact
14,audi,a4 quattro,3.1,2008,6,auto(s6),4,17,25,p,compact
15,audi,a4 quattro,3.1,2008,6,manual(m6),4,15,25,p,compact
16,audi,a6 quattro,2.8,1999,6,auto(l5),4,15,24,p,midsize
17,audi,a6 quattro,3.1,2008,6,auto(s6),4,17,25,p,midsize
18,audi,a6 quattro,4.2,2008,8,auto(s6),4,16,23,p,midsize

In [84]:
cars.head()

   manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
id
1          audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2          audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3          audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4          audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5          audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [98]:
import pandas as pd

# load the file olypics.csv as a dataframe
df = pd.read_csv("olympics.csv", index_col=0, skiprows=1)
df.head()

,№ Summer,01 !,02 !,03 !,Total,№ Winter,01 !.1,02 !.1,03 !.1,Total.1,№ Games,01 !.2,02 !.2,03 !.2,Combined total
Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [99]:
# do some cleaning

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [83]:
for country in df.unique():
    total = np.sum(df[df['Gold.2'] == mn].dropna()[''])
    print (mn + ' has a total of  ' + str(total) + ' cars')

audi has a total of  317 cars
chevrolet has a total of  285 cars
dodge has a total of  486 cars
ford has a total of  350 cars
honda has a total of  220 cars
hyundai has a total of  261 cars
jeep has a total of  108 cars
land rover has a total of  46 cars
lincoln has a total of  34 cars
mercury has a total of  53 cars
nissan has a total of  235 cars
pontiac has a total of  85 cars
subaru has a total of  270 cars
toyota has a total of  630 cars
volkswagen has a total of  565 cars